<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>123.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>A decorative fence.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>Accumulation Degree.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>Apocalypse Someday.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>BUY LOW, BUY LOWER.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Blocks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Briding FIPA.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>Broken Robot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Bugs Integrated, Inc..xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Cats Transport.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>Cleaning Shifts - 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Cleaning Shifts.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>Coins.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>Computer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>Connected Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>Cookies.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>Corn Fields.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>Count The Repetitions.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Cut the Sequence.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>Dynamic Programming.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Estimation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>Fence Obstacle Course.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>Fence.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>Folding.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>Gerald and Giant Chess.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>I-country.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>Jury Compromise.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>K-Anonymous Sequence.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>LCIS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>Largest Submatrix.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>Making the Grade.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>Mobile Service.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Mondriaan's Dream.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>Naptime.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>Polygon.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Post Office.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>Round Numbers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SUBSTRACT.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Strategic game.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>The Battle of Chibi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>The Counting Problem.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Trip.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>XOR和路径.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>乌龟棋.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>任务安排1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>任务安排2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>传纸条.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>划分大理石.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>开车旅行.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>扑克牌.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>数字组合.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>棋盘分割.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>没有上司的舞会.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>炮兵阵地.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>特别行动队.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>环路运输.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>石子合并.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>石子合并加强版.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>股票交易.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>能量项链.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>自然数拆分Lunatic版.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>花店橱窗.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>诗人小G.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>选课.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>金字塔.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>陨石的秘密.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
</dict>
</plist>
